$color1: #403C3D;
$color2: #C1A9D9;
$color3: #EDE9F2;
$color4: #88A2F2;
$color5: #BFBBB4;






$colormain1: #BED996;
$colormain2: #A69F98;
$colormain3: #D9D2CC;
$colormain4: #736D6A;
$colormain5: #262626;

$color-palitr1: #BFBFBD;
$color-palitr2: #737372;
$color-palitr3: #F2F2F2;
$color-palitr4: #262626;
$color-palitr5: #0D0D0D;

$color-dark1: #BFBFBD;
$color-dark2: #262613;
$color-dark3: #403B38;
$color-dark4: #736D6A;
$color-dark5: #0D0000;